:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --accent-color: red;
    --checkbox-color: blue;

    --main-text-color: #fff;

    --first-brand-color: #303841;
    --second-brand-color: #ff5722;
    --third-brand-color: #00adb5;

    --main-font: 'Open Sans Condensed';
    --title-font: 'Encode Sans SC Expanded';
    
    font-size: 62.5%;
}